@import url(https://fonts.googleapis.com/css?family=Dosis:700);
@font-face {src: url(fonts/LuckySunshine-axo9R.ttf); font-family: myfont}
@font-face {src: url(fonts/JuneCalligraphyRegular-8pBg.ttf); font-family: myfont2}

:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
}


body {
    background: var(--backgroundColor);
}


/*box-sizing:"border-box" (for all elements and pseudo-elements).
 This option allows us to simplify the management of element dimensions on the page
 (padding and border don't affect the position or overall size of the elements).*/
* {
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}


/*ENTIRE PAGE GRID*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 3.2fr auto 3fr;
    grid-column-gap: 0.25em;
    grid-row-gap: 4%;
}


/*SINGLE CHORD BOX GRID*/
.grid-container_2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0;
}


/*INPUT CHORDS CONTAINER GRID*/
.grid-container_3 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 0;
}


/*TITLE CONTAINER*/
#Title {
    grid-area: 1 / 2 / 1 / 6;
    position: relative;
    top: 5%;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20%;
    border-style: solid;
    border-color: rgb(106, 163, 137);
    background: var(--colorShadeE);
}
/*TITLE TEXT STYLE*/
h1{
    font-size: 3.5vw;
    font-family: myfont, serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 1px 0 rgb(150 232 195), 5px 4px 0 rgb(106 163 137);
    margin: 0.5%;
}


/*INPUT CHORDS CONTAINER*/
#chords {
    grid-area: 2 / 2 / 3 / 6;
    position: relative;
    height: 85%;
    width: 100%;
    margin-top: 2.5%;
    background: bisque;
    border-radius: 1.5em;
    border-style: solid;
    border-width: 1.4px;
    border-color: burlywood;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
}
/*"Choose your chords" LABEL*/
#chords-label{
    grid-area: 2 / 2 / 3 / 6;
}
/*CHORDS-CONTAINER-LABEL STYLE*/
h2 {
    position: relative;
    width: 30%;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    font-family: myfont, serif;
    font-size: 2.3vw;
    text-shadow: 2px 1px 0 rgb(150 232 195);
    text-align: center;
    border-style: double;
    border-radius: 15px;
    border-color: burlywood;
    background: rgb(106, 163, 137);
    z-index: +1;
}


/*Position of each input chord-box in ->grid-container_3*/
#pos_chord1{ grid-area: 1 / 1 / 2 / 2;}
#pos_chord2{ grid-area: 1 / 2 / 2 / 3;}
#pos_chord3{ grid-area: 1 / 3 / 2 / 4;}
#pos_chord4{ grid-area: 1 / 4 / 2 / 5;}


/*PRESET*/
#preset_box {
    grid-area: 2/1/3/2;
    position: relative;
    width: 95%;
    height: 67%;
    top: 25%;
    left: 100%;
    animation: mymove2 2s ease-in-out forwards;
    z-index: -1;
}
#first{
    position: absolute;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: #6AA389;
    border-width: 1px;
    border-style: solid;
    border-color: darkcyan;
    border-radius: 23% 0 0 23%;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
}
#preset_label {
    position: relative;
    width: 12%;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: 16%;
    font-size: 0.85vw;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    text-align: center;
    border-style: double;
    border-radius: 15px;
    border-color: darkcyan;
    background: bisque;
    z-index: +1;
}
.preset_selection{
    position: relative;
    width: 66%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-41%, -50%);
    border-radius: 20%;
    text-align: center;
    font-size: 1.5vw;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    cursor: pointer;
}
/*STYLE of the 'notes selection menu' in the preset*/
#notes_select_preset{
    grid-area: 1 / 1 / 2 / 2;
    color: darkslategray; /*text color*/
    background-color: var(--colorShadeE);
}
/*STYLE of the 'type selection menu' in the preset*/
#type_select_preset{
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--backgroundColor);
}


/*SINGLE INPUT CHORD BOX*/
.box {
    position: relative;
    background: rgb(106, 163, 137);
    width: 80%;
    height: 55%;
    text-align: center;
    margin: 20% auto 3%;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}
.box:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.07);
}


/*SELECTION MENU IN THE CHORD BOX*/
.chord_selection{
    position: relative;
    height: 70%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.4vw;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    border-radius: 20%;
    cursor: pointer;
}
/*"Notes selection"*/
.notes_selection{
    background-color: var(--colorShadeE);
    color: darkslategray;
}
/*"Type selection"*/
.type_selection{
    background-color: var(--backgroundColor);
}


/*DEGREE CONTAINER*/
.deg{
    position: relative;
    height: 14%;
    width: 11%;
    margin: 3% auto;
    border-style: solid;
    border-color: purple;
    border-width: thin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3vw;
    animation: opaco 3s;
}
/*Not in scale label*/
.nis{
    border-radius: 20%;
    width: 60%;
}


/*INPUT CHORDS PLAYER*/
#playIn{
    grid-area: 2 / 6 / 3 / 7;
    width: 70%;
    height: 36%;
    top: 35%;
    left: 18%;
}


/*OUTPUT CHORDS PLAYER*/
#play_out_cont{
    grid-area: 4 / 6 / 5 / 7;
    display: none;
}
#playOut {
    width: 70%;
    height: 40%;
    left: 18%;
    top: 15%;
}
.showPlayOut{
    animation: opaco 3s;
}


/*TRIANGULAR SHAPED DIV->PLAY ICON*/
.play-button {
    position: relative;
    box-sizing: border-box;
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%);
    background: transparent;
    border-width: 1.2em 0 1.2em 2.5em;
    border-color: transparent transparent transparent rgb(106, 163, 137);
    border-style: solid;
    transition: 100ms all ease;
    opacity: 1;
}
/*PAUSE ICON*/
.paused {
    border-color: transparent transparent transparent rgb(106, 163, 137);
    border-style: double;
    height: 2em;
    border-width: 0 0 0 2em;
}


/*"COMPLEXIFY" BUTTON*/
#complexButton{
    grid-area: 3 / 3 / 4 / 5;
    height: 60%;
    width: 75%;
    font-size: 1.5vw;
    margin: auto;
}


/*SLIDERS*/
#patternSlider{
    grid-area: 3 / 5 / 4 / 6;
}
#speedSlider{
    grid-area: 3 / 6 / 4 / 7;
}
#levelSlider {
    grid-area: 3 / 1 / 4 / 3;
    position: relative;
    left: 3%;
    width: 110%;
}
/*SLIDERS STYLE*/
.value {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    color: rgb(106, 163, 137);
    border-bottom: 0.04em dashed rgb(106, 163, 137);
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    width: 45%;
    margin: auto;
    letter-spacing: -.07em;
    text-shadow: #00000075 1px 1px 3px;
}
input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 60%;
    height: 3%;
    border-radius: 5px;
    margin: 5% auto;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(150, 232, 195);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid dimgrey;
    cursor: pointer;
    transition: .3s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:hover {
    background-color: rgb(106, 163, 137);
    border: 2px solid black;
}
input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.15);
}

/*sliders label*/
h3{
    font-family: myfont, serif;
    font-size: 2vw;
    text-align: center;
    line-height: 0;
}


/*ROOT CONTAINER*/
#rootDisplay{
    grid-area: 2 / 2 / 3 / 6;
    position: relative;
    height: 40%;
    width: 35%;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    margin: 0;
    z-index: -1;
    border-style: double;
    border-radius: 15px;
    border-color: burlywood;
    background: radial-gradient(#f588d8, #c0a3e5);
}
/*ROOT TEXT->"The root is"*/
#root{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-family: myfont2, serif;
    font-size: 2.3vw;
    text-shadow: 2px 1px 0 orange;
    text-align: center;
}

#midi_cont{
    grid-area: 4 / 1 / 5 / 2;
    display: none;
}
#midiButton{
    position: relative;
    top: 15%;
    height: 40%;
    width: 80%;
    left: 10%;
    margin: 0 auto;
}
.showMidi{
    animation: opaco 3s;
}



/*OUTPUT CHORDS CONTAINER*/
#compDisplay{
    grid-area: 4 / 2 / 5 / 6;
    position: relative;
    width: 100%;
    height: 70%;
    border-radius: 1.5em;
    border-style: solid;
    border-width: 1.4px;
    border-color: burlywood;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    background: bisque;
    display: none;
    animation: opaco 3s;
}


/*3D BUTTON STYLE*/
button {
    position: relative;
    cursor: pointer;
    font-size: 1vw;
    color: var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}
/*top layer*/
.big-button {
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d; /*it ensures that the 3D transformations are preserved and not flattened by any subsequent transformations*/
    transition: all 175ms cubic-bezier(0, 0, 1, 1); /*on click*/
    place-content: center;
}
/*SECOND AND THIRD(box-shadow) LAYERS OF THE BUTTON*/
.big-button::before {
    position: absolute;
    content: ""; /*pseudo-elements require content to be defined, even if it is empty*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em); /*translation of the pseudo-element (3D effect)*/
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA); /*horizontal, vertical*/
    transition: all 175ms cubic-bezier(0, 0, 1, 1); /*on click*/
}
.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
}
.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
}
.big-button:active {
    transform: translate(0em, 0.75em);
}
.big-button:active::before {
    transform: translate3d(0, 0, -1em);
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}


/*OUTPUT_CHORDS*/
.box_2{
    display: grid;
    grid-template-rows: 45% 55%;
    position:relative;
    width: 75%;
    height: 75%;
    margin: auto;
    background: radial-gradient(#f588d8, #c0a3e5);
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    font-size: 4vw;
    cursor: pointer;
}
/*CHORD NAME CONTAINER*/
.outputName{
    display: grid;
    grid-area: 1/1/2/2;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    font-size: 45%;
    line-height: 3;
    text-align: center;
}
/*CHORD DURATION IMAGE CONTAINER*/
.durationImage_cont{
    grid-area: 2/1/3/2;
}
/*DURATION IMAGE*/
.durationImage{
    position: relative;
    width: 25%;
    margin-bottom: 5%;
}
.semibreve{
    width:15%;
}

/*GUITAR CHORDS IMAGES CONTAINER*/
.guitarImage_cont{
    position: absolute;
    grid-area: 1/1/2/2;
    width: 160px;
    height: 150px;
    top: -175px;
    left: -30px;
    margin-bottom: -26%;
    background: var(--colorShadeA);
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgb(38 57 77) 0 20px 30px -10px;
    pointer-events: none;
    opacity: 0;
}
.guitarImage_cont:before {
    content:"";
    position: absolute;
    left: 30%;
    top: 100%;
    rotate: 90deg;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 23px solid var(--colorShadeA);
    border-bottom: 10px solid transparent;
}
/*GUITAR CHORDS IMAGE*/
.guitarImage{
    position: relative;
    width:150px;
    height: 140px;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 20px 20px 20px 20px;
}
/*the guitar chord image is shown only when hover on the output chord box*/
.box_2:hover .guitarImage_cont {
    animation: opaco 2s forwards, bounce 3s;
}


/*NOTES EXPLOSION*/
particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}


/*ANIMATIONS*/
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.animation{
    animation:mymove 3s ease-out forwards;
    /* Safari and Chrome */
    -webkit-animation:mymove 3s;
    animation-fill-mode: forwards;
}

/*used for root-container animation*/
@keyframes mymove
{ from {top: 50%}
    to {top: 78%}
}
@-webkit-keyframes mymove /* Safari and Chrome */
{from {top: 50%}
    to {top: 78%}
}

/*used for preset animation*/
@keyframes mymove2
{ from {left: 100%}
    to {left: 0}
}
@-webkit-keyframes mymove2 /* Safari and Chrome */
{from {left: 100%}
    to {left: 0}
}

/*used for: showDegree, showGuitarImage, showOutputChordCont, showMidi, showPlayOut */
@keyframes opaco{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes opaco{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}