@import url(https://fonts.googleapis.com/css?family=Dosis:700);

:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
}

@font-face {
    src: url(fonts/LuckySunshine-axo9R.ttf);
    font-family: myfont;
}



.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /*sei colonne da un fr */
    grid-template-rows: 1fr auto auto 3.5fr 2fr;
    grid-column-gap: 0.25em;
    grid-row-gap: 2.5em;

}

.grid-container_2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0;
}

.grid-container_3 {
    display: grid;
    /*grid-template-rows: 80% 20%;*/
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 0;
}

.grid-container_4 {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0;
}
.slider-grid-container{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    grid-row-gap: 0;
}

#sliders{
    grid-area: 3 / 1 / 4 / 2;
    border-style: solid;
}

#preset{
    grid-area: 2/1/3/2;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

#chords {
    grid-area: 2 / 2 / 3 / 6;
    background: bisque;
    /*display: flex;*/
    height: 180px;
    width: 100%;
    margin-top: 2.5%;
    border-radius: 1.5em;
    border-style: solid;
    border-width: 1.4px;
    border-color: burlywood;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.box {
    position: relative;
    background: rgb(106, 163, 137);
    width: 80%;
    height: 55%;
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}
.box:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.07);
}


#Title {
    grid-area: 1 / 2 / 1 / 6;
    position: relative;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    top: 5%;
    width: 80%;
    border-radius: 20%;
    background: rgb(205, 255, 232);
    border-style: solid;
    border-color: rgb(106, 163, 137);
}

h1{
    font-size: 3.5vw;
    font-family: myfont;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 1px 0 rgb(150 232 195), 5px 4px 0 rgb(106 163 137);
    margin: 0.5%;

}


h2 {
    font-family: myfont;
    font-size: 2.3vw;
    text-shadow: 2px 1px 0 rgb(150 232 195);
    text-align: center;
    /* line-height: 1.2em; */
    position: relative;
    margin: 0;
    border-style: double;
    border-radius: 15px;
    width: 30%;
    left: 50%;
    /* top: 10%; */
    transform: translate(-50%);
    border-color: burlywood;
    /* background: radial-gradient(#f588d8, #c0a3e5); */
    background: rgb(106, 163, 137);
    z-index: +1;
}

h4{
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    font-size: 2vw;
    text-align: center;
    line-height: 0;
}



.deg{
    text-align: center;
    margin: 3% auto;
    border-style: solid;
    border-color: purple;
    position: relative;
    width: 23px;
    height: 23px;
    line-height: 22px;
    border-width: thin;
    border-radius: 50%;
}

.nis{
    border-radius: 20%;
    width: 60%;
}

#chords-label{
    grid-area: 2 / 2 / 3 / 6;
}




#pos_chord1{ grid-area: 1 / 1 / 2 / 2; }
#pos_chord2{ grid-area: 1 / 2 / 2 / 3; }
#pos_chord3{ grid-area: 1 / 3 / 2 / 4; }
#pos_chord4{ grid-area: 1 / 4 / 2 / 5;}


.type_selection{
    position: relative;
    height: 70%;
    width: 80%;
    top: 50%;
    border-radius: 20%;
    font-size: 120%;
    text-align: center;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    background-color: var(--backgroundColor);
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, -50%);
}




.selection{
    width: 80%;
    height: 70%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20%;
    font-size: 120%;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    background-color: rgb(205, 255, 232);
    color: darkslategray;
    cursor: pointer;
}






#stop{
    grid-area: 3 / 6 / 4 / 7;
    height: 30%;
    width:70%;
    left: 13%;
    top: 10%
}




#playIn {
    grid-area: 2 / 6 / 3 / 7;
    width: 70%;
    height: 36%;
    top: 38%;
    left: 13%;
}

#playOut {
    grid-area: 4 / 6 / 5 / 7;
    width: 70%;
    height: 26%;
    top: 45%;
    left: 13%;
    display: none;
}



#complexButton{
    grid-area: 3 / 4 / 4 / 6;
    height: 30%;
    width: 75%;
    top: 20%;
    font-size: 1.5vw;
}


#level {
    grid-area: 3 / 2 / 4 / 4;
    position: relative;
    height: 9em;
    top: 15%;
}




h3{
    font-family: myfont;
    font-size: 2vw;
    text-align: center;
    line-height: 0;
}



#rootDisplay{
    grid-area: 2 / 2 / 3 / 6;
    position: relative;
    height: 40%;
    width: 35%;
    left: 50%;
    transform: translate(-50%);
    top: 55%;
    margin: 0;
    z-index: -1;
    border-style: double;
    border-radius: 15px;
    border-color: burlywood;
    background: radial-gradient(#f588d8, #c0a3e5);
}

#root{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-family: myfont;
    font-size: 2.3vw;
    text-shadow: 2px 1px 0 orange;
    text-align: center;

}


#midiButton{
    grid-area: 5 / 3 / 5 / 5;
    height: 60%;
    width: 80%;
    /*left: 50%;*/
    /*transform: translate(-50%);*/
    display: none;
    font-size: 1.3vw;
}

#compDisplay{
    grid-area: 4 / 2 / 5 / 6;
    background: bisque;
    /*display: flex;*/
    height: 175px;
    width: 100%;
    top: 30%;
    border-radius: 1.5em;
    border-style: solid;
    border-width: 1.4px;
    border-color: burlywood;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: none;
}

.coral{
    border-style: solid;
    border-color: coral;
}


.green{
    background-color: darkolivegreen;
}











* {
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}
body {
    /*font-family: "OpenSans", sans-serif;*/
    /*font-size: 1rem;*/
    /*line-height: 2;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    margin: 0;
    min-height: 100vh;
    background: var(--backgroundColor);
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1vw;
    color: var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

button.big-button {
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    place-content: center;
}
button.big-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
}

button.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
    transform: translate(0em, 0.75em);
}

button.big-button:active::before {
    transform: translate3d(0, 0, -1em);

    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}


particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}



.play-button {
    top: 0%;
    bottom: 0%;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 1em 0 1em 2em;
    border-color: transparent transparent transparent rgb(106, 163, 137);
    opacity: 1;
    left: 50%;
    transform: translate(-50%);
}




/*slider*/
.value {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    color: rgb(106, 163, 137);
    border-bottom: 0.04em dashed rgb(106, 163, 137);
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    width: 45%;
    margin: auto;
    letter-spacing: -.07em;
    text-shadow: #00000075 1px 1px 3px;
}
input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 60%;
    height: 3%;
    border-radius: 5px;
    margin: 5% auto;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(150, 232, 195);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid dimgrey;
    cursor: pointer;
    transition: .3s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:hover {
    background-color: rgb(106, 163, 137);
    border: 2px solid black;
}
input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.15);
}




.box_2{

    position: relative;
    width: 100%;
    height: 8em;
    background: radial-gradient(#f588d8, #c0a3e5);
    border-radius: 8px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    margin: 2%;
}


.image{
    position: relative;
    width: 90%;
    height: 10em;
    background: green;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    left: 45%;
    transform: translate(-50%,-60%);
}


.text-container {
    text-align: center;
    position: relative;
    top: -70%;
    font-size: 4vw;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.box_2:hover {
    animation: bounce 1s;
}

.animation{
    animation:mymove 3s ease-out forwards;
    /* Safari and Chrome */
    -webkit-animation:mymove 3s;
    animation-fill-mode: forwards;
}

.animation2{
    animation: opaco 3s ;
}


@keyframes mymove
{ from {top: 55%}
    to {top:88%}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
    from {top: 55%}
    to {top:88%}
}


@keyframes opaco{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes opaco{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}